#barchart {
	width: 800px;
	height: 400px;
	background-color: orange;
	margin: 20px auto;
}

.x-axis path .x-axis line {
	shape-rendering: crispEdges;
}

.x-axis text {
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 14px;
}
